<footer>
  <nav class="round">
    <p>
      <b>Предметы и студенты с лучшей оценкой:</b>    <br>
        <% Lesson.all.each do |lesson| %>
          <tr>
            <% @students = Student.where(:id => Journal.order('mark desc').where(:lesson_id => lesson.id).pluck(:student_id).first).pluck(:name).first   %>

            <td>Студент с лучшей оценкой по <b><%= lesson.name  %></b>: <%= @students %> </td>
            <% # @journals = Journal.order('mark desc').where(:lesson_id => lesson.id).pluck(:student_id).first %>
            <% #@students = Student.where(:id => @journals).pluck(:name).first %>
             <% # @journals = Journal.where(:lesson_id => lesson.id).order('mark') %>
             <% #@journals = @journals.pluck(:student_id) %>
             <% #@students = Student.where(:id => @journals[1] ) %>
             <% #@students = @students.pluck(:name) %>
             <%  %>
            <br>
            <td><% %></td>
          </tr>
      <% end %>


  </nav>
</footer>